<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Essential -->
  <package id="GoogleChrome" />
  <package id="dropbox" />
  <package id="googledrive" />
  <package id="setpoint" />
  <package id="7zip" />
  <package id="nvidia-display-driver" />
  <package id="geforce-experience" />

  <!-- Utility -->
  <package id="launchy" />
  <package id="vim" />
  <package id="emeditor" />
  <package id="conemu" />
  <package id="slack" />
  <package id="clover" />
  <package id="gom-player" />
  <package id="deskpins" />

  <!-- Development Utility -->
  <package id="git" />
  <package id="smartgit" />
  <package id="mendeley" />
  <package id="mtputty" />

  <!-- Development -->
  <package id="nodejs" />
  <package id="vscode" />
  <package id="typora" />
  <package id="docker" />
  <package id="visualstudio2017professional" />

  <!-- ETC -->
  <package id="filezilla" />
  <package id="sharex" />
  <package id="epicgameslauncher" />
  <package id="spacesniffer" />
  <package id="steam" />
  <package id="battle.net" />
  <package id="cpu-z" />
  <package id="gpu-z" />
</packages>

