<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chrome" />
  <package id="dropbox" />
  <package id="googledrive" />
  <package id="setpoint" />
  <package id="7zip" />

  <package id="launchy" />
  <package id="vim" />
  <package id="emeditor" />
  <package id="conemu" />
  <package id="clover" />
  <package id="gom-player" />

  <package id="git" />
  <package id="smartgit" />

  <package id="nodejs" />
  <package id="vscode" />
  <package id="mtputty" />
  <package id="sharex" />
  <package id="typora" />
  <package id="filezilla" />
  <package id="epicgameslauncher" />
  <package id="steam" />
  <package id="visualstudio2017professional" />
</packages>

