<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Essential -->
  <package id="GoogleChrome" />
  <package id="dropbox" />
  <!-- old version -->
  <!-- <package id="googledrive" /> -->
  <package id="setpoint" />
  <package id="7zip" />
  <package id="nvidia-display-driver" />
  <package id="geforce-experience" />
  <package id="sudo" />

  <!-- Utility -->
  <package id="launchy" />
  <package id="vim" />
  <package id="emeditor" />
  <package id="conemu" />
  <package id="slack" />
  <!-- broken -->
  <!-- <package id="clover" /> -->
  <!-- broken -->
  <!-- <package id="gom-player" /> -->
  <package id="deskpins" />
  <package id="everything" />

  <!-- Development Utility -->
  <package id="git" />
  <package id="smartgit" />
  <package id="mendeley" />
  <package id="putty" />
  <package id="mtputty" />
  <package id="openssh" />

  <!-- Development -->
  <package id="nodejs" />
  <package id="vscode" />
  <package id="typora" />
  <package id="docker" />
  <package id="visualstudio2017professional" />
  <package id="visualassist" />
  <package id="heroku-cli" />
  <package id="xming" />

  <!-- ETC -->
  <package id="filezilla" />
  <package id="sharex" />
  <package id="epicgameslauncher" />
  <package id="spacesniffer" />
  <package id="paint.net" />
  <package id="steam" />
  <package id="battle.net" />
  <package id="cpu-z" />
  <package id="gpu-z" />
</packages>

